body {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#container {
	width: 100%;
	height: 100%;
	min-height: 100%;
   	position: relative;
}

div.banner {
	background-image: url('../images/banner.jpg');
	background-position: center;
	width: 100%;
	min-width: 960px;
	height: 250px;
	text-align: center;
}

#navigation {
	background-color: #000;
	width: 100%;
	min-width: 960px;
	height: 100px;
	text-align: center;
	line-height: 100px;
}

div.content-container {
	width: 100%;
	min-width: 960px;
	padding-bottom: 250px;
}

div.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 250px;
	background: #292929;
}

div.form {
	width: 350px;
	height: auto;
	padding: 25px 10px;
	margin-left: auto;
	margin-right: auto;
}

input[type="text"] {
	width: 100%;
	border-radius: 5px;
	border: 2px solid #292929;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px 10px;
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	box-sizing: border-box;
}

input[type="email"] {
	width: 100%;
	border-radius: 5px;
	border: 2px solid #292929;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px 10px;
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	box-sizing: border-box;
}

input[type="password"] {
	width: 100%;
	border-radius: 5px;
	border: 2px solid #292929;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px 10px;
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	box-sizing: border-box;
}