a:link.navigation {
	padding-left: 35px;
	padding-right: 35px;
    color: #fff;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    transition: all 0.25s ease;
}

a:visited.navigation {
    color: #fff;
}

a:hover.navigation {
	transition: all 0.25s ease;
    color: #0054a6;
}

a:active.navigation {
    color: #fff;
}

a:link.signup {
    padding-left: 35px;
    padding-right: 35px;
    color: #00FFEF;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    transition: all 0.25s ease;
}

a:visited.signup {
    color: #00FFEF;
}

a:hover.signup {
    transition: all 0.25s ease;
    color: #267F7A;
}

a:active.signup {
    color: #00FFEF;
}

a:link.login {
    padding-left: 35px;
    padding-right: 35px;
    color: #CC3E37;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    transition: all 0.25s ease;
}

a:visited.login {
    color: #CC3E37;
}

a:hover.login {
    transition: all 0.25s ease;
    color: #267F7A;
}

a:active.login {
    color: #CC3E37;
}