a:link.btn {
	height: 50px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 12px;
	border: 1px solid #000;
	border-radius: 5px;
	display: inline-block;
	line-height: 30px;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #000;
}

a:visited.btn {
	color: #000;
}

a:hover.btn {
	color: #000;
	background-color: #f3f3f3;
}

a:active.btn {
	color: #000;
}

a:link.btn-blue {
	background-color: #0054a6;
	border: 1px solid #006ad2;
	color: #fff;
}

a:visited.btn-blue {
	color: #fff;
}

a:hover.btn-blue {
	background-color: #006ad2;
	border: 1px solid #0054a6;
	color: #fff;
}

a:active.btn-blue {
	color: #fff;
}

a:link.btn-red {
	background-color: #CC1F14;
	border: 1px solid #FF2719;
	color: #fff;
}

a:visited.btn-red {
	color: #fff;
}

a:hover.btn-red {
	background-color: #FF2719;
	border: 1px solid #CC1F14;
	color: #fff;
}

a:active.btn-red {
	color: #fff;
}

button {
	height: 50px;
	width: 100%;
	padding: 0px 10px;
	border: 1px solid #000;
	border-radius: 5px;
	display: inline-block;
	line-height: 30px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	background-color: #0054a6;
	border: 1px solid #006ad2;
	color: #fff;
	cursor: pointer;
}

button:hover {
	background-color: #006ad2;
	border: 1px solid #0054a6;
}

button.btn-red {
	background-color: #CC1F14;
	border: 1px solid #FF2719;
	color: #fff;
}

button:hover.btn-red {
	background-color: #FF2719;
	border: 1px solid #CC1F14;
	color: #fff;
}

button.btn-green {
	background-color: #007D15;
	border: 1px solid #009E1B;
	color: #fff;
}

button:hover.btn-green {
	background-color: #009E1B;
	border: 1px solid #007D15;
	color: #fff;
}