body {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

#container {
	width: 100%;
	height: auto;
	padding: 15px 35px;
}

div.banner {
	background-image: url('../images/banner.jpg');
	background-position: center;
	width: 100%;
	min-width: 960px;
	height: 250px;
	text-align: center;
}

div.results {
	width: 100%;
	padding: 25px;
	background-color: #E5DFDF;
	border: 1px solid #ADA9A8;
	border-radius: 5px;
}

input[type="text"] {
	width: 100%;
	display: inline-block;
	border-radius: 5px;
	border: 2px solid #292929;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 14px 10px 13px;
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	box-sizing: border-box;
}

input[type="number"] {
	width: 100%;
	display: inline-block;
	border-radius: 5px;
	border: 2px solid #292929;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 14px 10px 13px;
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	box-sizing: border-box;
}

select {
	height: 50px;
	width: 100%;
	display: inline-block;
	border-radius: 5px;
	border: 2px solid #292929;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	box-sizing: border-box;
}

textarea {
	height: 200px;
	width: 100%;
	border-radius: 5px;
	border: 2px solid #292929;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 14px 10px 13px;
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	box-sizing: border-box;
	resize: none;
}

fieldset {
	background-color: #F8F8F8;
	border-radius: 5px;
}