div.navigation {
	width: 100%;
    min-width: 960px;
	height: 100px;
	background-color: #000;
	color: #fff;
	line-height: 100px;
	font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

a:link.navigation {
	padding: 0px 35px;
    color: #fff;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    transition: all 0.25s ease;
}

a:visited.navigation {
    color: #fff;
}

a:hover.navigation {
	transition: all 0.25s ease;
    color: #0054a6;
}

a:active.navigation {
    color: #fff;
}

p.navigation {
    padding: 0px 35px;
    height: 100px;
    margin: 0px;
    color: #fff;
    line-height: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}