a:link.btn {
	height: 30px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 12px;
	border: 1px solid #000;
	border-radius: 5px;
	display: inline-block;
	line-height: 30px;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #000;
}

a:visited.btn {
	color: #000;
}

a:hover.btn {
	color: #000;
	background-color: #f3f3f3;
}

a:active.btn {
	color: #000;
}

a:link.btn-blue {
	background-color: #0054a6;
	border: 1px solid #006ad2;
	color: #fff;
}

a:visited.btn-blue {
	color: #fff;
}

a:hover.btn-blue {
	background-color: #006ad2;
	border: 1px solid #0054a6;
	color: #fff;
}

a:active.btn-blue {
	color: #fff;
}

a:link.btn-red {
	background-color: #CC1F14;
	border: 1px solid #FF2719;
	color: #fff;
}

a:visited.btn-red {
	color: #fff;
}

a:hover.btn-red {
	background-color: #FF2719;
	border: 1px solid #CC1F14;
	color: #fff;
}

a:active.btn-red {
	color: #fff;
}

a:link.btn-green {
	background-color: #00B247;
	border: 1px solid #00DE59;
	color: #fff;
}

a:visited.btn-green {
	color: #fff;
}

a:hover.btn-green {
	background-color: #00DE59;
	border: 1px solid #00B247;
	color: #fff;
}

a:active.btn-green {
	color: #fff;
}