h1 {
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 35px;
	margin-bottom: 35px;
}

h2 {
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
}

a:link {
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

a:visited {
    color: #000;
}

a:hover {

}

a:active {
    color: #000;
}

p {
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

li {
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}