body {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#container {
	width: 100%;
	height: 100%;
	min-height: 100%;
   	position: relative;
}

div.banner {
	background-image: url('../images/banner.jpg');
	background-position: center;
	width: 100%;
	min-width: 960px;
	height: 250px;
	text-align: center;
}

#navigation {
	background-color: #000;
	width: 100%;
	min-width: 960px;
	height: 100px;
	text-align: center;
	line-height: 100px;
}

div.content-container {
	width: 100%;
	min-width: 960px;
	padding-bottom: 250px;
}

div.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 250px;
	background: #292929;
}