a:link.navigation {
	padding-left: 35px;
	padding-right: 35px;
    color: #fff;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    transition: all 0.25s ease;
}

a:visited.navigation {
    color: #fff;
}

a:hover.navigation {
	transition: all 0.25s ease;
    color: #0054a6;
}

a:active.navigation {
    color: #fff;
}